* {
    font-family: lato, sans-serif;
}
button {
    cursor: pointer;
}

table {
    width: 60%;
    table-layout: fixed;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    border-collapse: collapse;
    font-size: 25px;
}
td {
    display: inline-block;
    white-space: nowrap;
    padding: 8px;
}
.mainButton {
    outline: none;
    box-shadow: none;
    height: 20%;
    width: 20%;
    border: none;
    background-color: lightskyblue;
    color: white;
    padding: 15px 32px;

    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 30px;
    border-radius: 5px;
}
.mainButton:hover {
    background-color: deepskyblue;
}
#numVisits {
    text-align: center;
    margin-top: 10%;
    font-size: 60px;
}
#confirmation {
    text-align: center;
    margin-top: 5%;
    font-size: 40px;
}
#buttonContainer {
    margin-top: 5%;
    text-align: center;
}
.promptButton {
    margin-left: 20px;
    margin-right: 20px;
}
.promptButton:hover {
    background-color: deepskyblue;
}

#trackedSitesText {
    text-align: center;
    margin-top: 10%;
    font-size: 60px;
}
#addSiteField {
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 2px solid lightgray;
    line-height: 25px;
    font-size: 25px;
    resize: none;
    width: 100%;
    height: 100%;
    overflow: auto;
    white-space: nowrap;
}
#addSiteField:focus {
    outline: none;
}
.buttonCell {
    width: 25%;
    vertical-align: center;
    text-align: right;
}
.siteCell {
    width: 35%;
}
.visitsCell {
    width: 15%;
}
.siteText {
    overflow: auto;
}
.removeButton {
    outline: none;
    background: url(/images/delete-icon.png) no-repeat;
    background-size: 120%;
    cursor: pointer;
    border: none;
}
.removeButton:active {
    background: url(/images/delete-icon-active.png) no-repeat;
    background-size: 120%;
}
#resetContainer {
    margin-top: 20px;
    text-align: center;
}